Package: com.nahtedetihw.musicartworknocorners
Name: MusicArtworkNoCorners
Version: 1.1
Architecture: iphoneos-arm
Description: Remove artwork corner radius in Apple Music!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate
